*, p, ul, li, h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #111;
    background-color: #fff;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #fff;
    position: relative;
}

img {
    /* width:  35px; */
    height:  100%;
}

#myCarousel img {
    width:  100%;
}

header .top-header {
    background:  #0063d1;
    color:  #fff;
    padding:  10px 0;
}

header a {
    color:  #fff;
    position:  relative;
}

header ul li {
    display:  inline-block;
    position:  relative;
    list-style:  none;
}

header li.dropdown-top {
    margin-right: 25px;
}

header .dropdown-top span:after {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    top: 5px;
    margin-left: 7px;
    border: 5px solid transparent;
    border-color: rgba(255,255,255,1) rgba(0,0,0,0) rgba(0,0,0,0);
}

header .top-right.pull-right {
    position:  relative;
}

header .sub-account {
    display:  none;
    position:  absolute;
    background: #2196f3;
    top: 30px;
    min-width: 150px;
    right: -10px;
}

header .account li:hover ul {
    display:  inline-block;
}

header .sub-account>li {
    padding:  5px;
    margin:  0 10px;
}

ul.account {
    position:  relative;
}

header a:hover {
    text-decoration:  none;
    color:  #fff;
}