*, p, ul, li, h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #111;
    /* background-color: #ededed; */
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #fff;
    position: relative;
    padding-bottom: 0;
    background-color: #ededed;
    display: block;
    width:  100%;
}

img {
    /* width:  35px; */
    height:  100%;
}

#myCarousel img {
    width:  100%;
    object-fit:  cover;
}

header .top-header {
    background:  #0063d1;
    color:  #fff;
}

header a {
    color:  #fff;
    position:  relative;
    display: block;
}

header .top-right>ul>li {
    display: inline-block !important;
    position:  relative;
    list-style:  none;
}

header .top-right.pull-right {
    position:  relative;
}

header .sub-account>li {
    padding:  5px;
    margin:  0 10px;
}

header a:hover {
    text-decoration:  none;
    color:  #fff;
}

header .btn:hover {
    color:  #fff;
}

header .dropdown-menu {
    background: #2196f3;
    border-radius:  0;
    border: none;
    position:  absolute;
    left: -60px;
}

header .dropdown-menu>a {
    padding: 2px 10px;
    line-height:  35px;
}

header .top-right>ul>li>a {
    padding: 6px 0px 6px 12px;
}

header .top-left>a {
    padding:  6px 12px;
}

header .center-header {
    background:  #0063d1;
    border-top: 1px solid rgba(255,255,255,.1);
    padding:  15px 0;
}

header .box-search select {
    height:  38px;
    float:  left;
    width:  30%;
    border:  none;
    background:  #ededed;
    padding:  6px 12px;
}

header .box-search input[type="text"] {
    float:  left;
    width:  50%;
    height:  38px;
    border:  none;
    padding:  6px 12px;
}

header .box-search button {
    border:  none;
    background: #2196F3;
    float:  left;
    width: 20%;
    padding:  6px 12px;
    height:  38px;
    color: #fff;
}

header .box-search {
    padding: 15px 0;
}

a.cart-top {
    text-align: left;
    background: url(../img/sprite.png) no-repeat;
    padding: 3px 0 0 62px;
    margin: 13px 20px;
    float:  right;
}

header .menu-top {
    background: #2196F3;
}

header .menu-top .main-menu ul li {
    display: inline-block;
    padding: 15px 20px;
    float: left;
    position:  relative;
}

header .menu-top .main-menu ul li a {
    text-transform: uppercase;
}

header .menu-top .main-menu ul li.active-menu {
    background: #0063d1;
}

header .menu-top .main-menu ul li:hover {
    background: #0063d1;
}

header .sub-menu {
    display:  none;
    position:  absolute;
    z-index:  1;
    top: 50px;
    left:  0;
    border-top: 1px solid #0063d1;
    min-width: 150px;
    transition: all .3s;
}

header .menu-top .main-menu ul li:hover .sub-menu {
    display:  inline-block;
}

header ul>li>ul>li {
    width: 100%;
    background: #fff;
}

header ul>li>ul>li a {
    color:  #000;
}

header .main-menu {
    position:  relative;
}

.content {background:  #ededed;padding-top: 15px;display: block;width:  100%;}

.content #active-menu-content>span>i.fa.fa-list {
    background: #ff9800;
    color:  #fff;
    padding: 10px;
    position:  absolute;
    font-size: 18px;
    top: -10px;
    left: -50px;
    width: 40px;
}

li#active-menu-content {
    padding: 9px 10px 9px 50px;
    background: #2196F3;
    display:  inline-block;
    position:  relative;
    width: 100%;
}

.content .box-category .top-content-menu span {
    background:  #2196F3;
    color:  #fff;
    width:  100%;
    position:  relative;
    text-transform:  uppercase;
    font-weight: bold;
    font-size: 14px;
    /* transform: translateY(-50%); */
}

.content .box-category ul li {
    padding: 10px 12px;
    border-bottom: 1px solid #e3e3e3;
    background:  #fff;
    position:  relative;
    border-left: 1px solid #e3e3e3;
}

.content .box-category ul li i {
    margin-right: 10px;
    text-align:  center;
    font-size:  15px;
    width:  20px;
}

.content a {
    color: #666;
}

#myCarousel a.right.carousel-control, a.left.carousel-control {
    background-image:  none;
}

#myCarousel a.right.carousel-control {
    background:  no-repeat;
}

#myCarousel a.right.carousel-control, a.left.carousel-control span {
    color:  #fff;
}

.sub-menu-content {
    opacity: 0;
    position:  absolute;
    left: 300px;
    top: 0px;
    height:  100%;
    width:  100%;
    z-index:  1;
    transition: all .3s;
}

.content .box-category ul li:hover .sub-menu-content {
    opacity: 1;
    position: absolute;
    left: 260px;
}

.content .box-category {
    position:  relative;
    width:  100%;
}

.content .list-product {
    float:  left;
    padding: 0 7px;
    width:  20%;
    margin-bottom: 14px;
}

.content .item-img img {
    width:  100%;
}

.content .item-details {
    background:  #fff;
    text-align:  center;
    padding-bottom: 10px;
    line-height: 25px;
}

.content .detail-mask {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    opacity: 0;
    transition: all .1s;
    background: rgba(0,0,0,.4);
    }

.content .item-img {
    position: relative;
    display:  inline-block;
}

.content .detail-mask i {
    /* transform: scale(0); */
    /* transition: all .4s ease 0s; */
}

.content button.buy-now {
    background: none;
    border: 1px solid #ededed;
    padding: 5px 20px;
    text-align: center;
    color: #888;
}

.content p.item-price {
    color: #f50728;
}

.content .product-item:hover .detail-mask {
    opacity: 1;
    visibility: visible;
}

.content .product-item:hover .detail-mask .link-href a {
    transform: scale(1);
}

.content .product-item .detail-mask .link-href a{
    color: #fff;
    display: inline-block;
    width:  40px;
    height: 40px;
    margin: 0 4px;
    text-align:  center;
    line-height: 40px;
    border: 1px solid #ededed;
    transform: scale(0);
    transition: all .4s ease 0s;
}

.content .product-item .detail-mask .link-href a:hover{
    background: #2196f3;
}

.content .link-href {
    position:  absolute;
    bottom:  20px;
    text-align: center;
    left: 0;
    width: 100%;
}

header .box-search input[type="text"]:focus, select:focus, button:focus {
    outline: 0;
}

.content .tab-product span.new-post-text {
    position:  absolute;
    top:  0;
    right:  0;
    background:  #c00;
    color:  #fff;
    padding: 2px 5px;
}

.content .tab-product i.fa.fa-shopping-basket {
    margin-right:  5px;
}

.content .tab-product {
    margin-top:  20px;
}

.content .tab-product ul.nav.nav-pills {
    background:  #fff;
    display:  inline-block;
    width:  100%;
    margin-bottom: 10px;
}

.content .nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    background: #2196f3 !important;
}

.content .nav-pills>li>a {
    border-radius:  0;
    padding: 10px 50px;
    text-transform:  uppercase;
}

.content .tab-product .nav>li>a:nth-child(n+1):hover{
    background: none;
}

.content button.buy-now:hover {
    background:  #2196f3;
    color:  #fff;
}

.content .bot-content {
    background:  #fff;
    padding-top: 10px;
    margin-top:  30px;
}

.content .bot-content ul.nav.nav-pills {
    background:  #edededed;
    margin-bottom: 15px;
    width: 100%;
}

.content .bot-content img {
    width:  100%;
}

.content .bot-content .news-one {
    line-height: 25px;
}

.content .bot-content a.news-title {
    color:  #2196F3;
    font-size:  16px;
    font-weight: 400;
}

.content .bot-content .meta span {
    opacity: .5;
    font-size: 12px;
    margin-right: 10px;
}

.content .text-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.content .bot-content .pull-left {
    width:  40%;
}

.content .bot-content .pull-right {
    width:  60%;
}

.content .bot-content .news-other {
    display:  inline-block;
    width:  100%;
    border-bottom: 1px dashed #f1f1f1;
    padding-bottom: 15px;
}

.content .bot-content .news-other .pull-right {
    padding-left: 10px;
    text-align:  left;
}

.content .bot-content .news-other .meta span {
    display:  inline-block;
}

.content .bot-content .news-other a.news-title {
    font-weight: 600;
}

.content .tab-product .tab-content {
    margin:  0 -7px;
}

.bot-content .evaluate .tab-content {
    background:  #ededed;
}

.bot-content .evaluate .evaluate-item {
    padding: 20px;
    line-height: 25px;
}

.bot-content .evaluate p.comment-txt {
    margin-bottom: 20px;
}

.bot-content .evaluate .rating {
    text-align:  center;
}

.bot-content .evaluate .rating i {
    color: #FFC107;
    font-size: 18px;
    margin-bottom: 10px;
}

.bot-content .evaluate .member {
    text-align:  center;
}

.bot-content .evaluate .member h3 {
    padding-top:  20px;
    color: #2196F3;
    font-size: 18px;
}

.member img {
    border-radius:  50%;
    width: 100px !important;
    height: 100px;
    padding:  1px;
    border:  1px solid #fff;
    margin:  0 auto;
}

.other-content {
    background: #2196f3;
    position: relative;
    padding:  20px 0;
}

.other-content .int-email i.fa.fa-envelope {
    display:  inline-block;
    float:  left;
    color:  #fff;
    font-size: 48px;
    margin-right:  10px;
    text-align:  center;
}

.other-content .int-email p {
    /* display:  inline-block; */
    /* float:  left; */
    /* width:  60%; */
    color:  #fff;
}

.other-content .int-email {
    display:  inline-block;
    float:  left;
}

.other-content .int-email p span {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 800;
    display: block;
}

.other-content .box-subscribe input[type="text"] {
    float: left;
    width: 100%;
    height: 38px;
    border: 1px solid #fff;
    padding: 6px 12px;
    background: #5ab1f6;
}

.other-content .box-subscribe {
    padding: 10px 10px;
    width: 100%;
    text-align:  center;
    position:  relative;
}

.other-content button {
    background: #ff9800;
    float: right;
    padding: 6px 12px;
    height: 38px;
    color: #fff;
    position:  absolute;
    right: 10px;
    border: 1px solid #fff;
}

.other-content .box-subscribe input[type="text"]:focus, select:focus, button:focus {
    outline: 0;
}

.other-content .social-content {
    text-align:  center;
    padding: 5px 0;
}

.other-content .social-content i {
    color:  #fff;
    margin: 0px 10px;
    border-radius:  50%;
    border:  1px solid #fff;
    width: 45px;
    height: 45px;
    font-size: 20px;
    padding: 10px;
    line-height: 25px;
    transition: all .3s;
}

.other-content .social-content i:hover {
    background: #0056b3;
}

footer .top-footer {
    padding: 20px 0;
    background:  #202020;
}

footer .top-footer p {
    color:  #ededed;
}

footer .top-footer h3 {
    color:  #fff;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e3e3;
}

footer .contact-content {
    margin-top: 15px;
    line-height: 27px;
}

.contact-content .info-contact p span i {
    width:  20px;
    height:  20px;
}

.contact-content i.fa.fa-home {
    color: #2196F3;
}

.contact-content i.fa.fa-envelope-open {
    color: #46a64a;
}

.contact-content i.fa.fa-phone {
    color:  #e91e63;
}

.contact-content i.fa.fa-globe {
    color:  #ffc107;
}

footer .menu-footer li {
    padding: 5px 0;
    border-bottom: 1px dashed #ededed;
}

footer i.fa.fa-angle-double-right {
    margin-right: 5px;
    color:  #337ab7;
}

footer .menu-footer a {
    color:  #fff;
}

footer .contact-content img {
    width: 70%;
}

footer .bot-footer {
    background:  #333;
}

footer .bot-footer p {
    text-align:  center;
    color:  #fff;
    padding: 15px 0;
}

.contact-content i {
    width: 20px;
    height:  20px;
}

.content .box-category span.down-menu {
    display: none;
    position: absolute !important;
    width: 40px !important;
    height: 40px;
    right:  0;
    top: 0px;
    font-size: 28px !important;
    text-align: center;
}

.content .box-category i.fa.fa-sort-down {
    margin-right: 0 !important;
    font-size: 30px !important;
    transform: translateY(-20%);
}

@media (max-width: 991px){
    .content .box-category span.down-menu {
        display: block;
    }
    .sub-menu-content {
        position:  relative;
        opacity: 1;
        left:  0;
    }
    .content .box-category ul li:hover .sub-menu-content {
        display: none;
    }
    .menu-mobile{
        display: block;
    }
}

.menu-mobile {
    display: none;
    color:  #fff;
    text-transform:  uppercase;
    padding: 10px 0;
    font-size:  16px;
}

@media (max-width: 767px){
    .menu-mobile{
        display: block;
    }
    .menu-mobile span {
        top: 7px;
        width:  35px;
        height:  3px;
        background: #fff;
        position:  relative;
        display: inline-block;
    }
    .menu-mobile span:after {
        content: '';
        width:  35px;
        height:  3px;
        background: #fff;
        position:  relative;
        display: block;
        top: -25px;
    }
    .menu-mobile span:before {
        content: '';
        width:  35px;
        height:  3px;
        background: #fff;
        position:  relative;
        display: block;
        top: -11px;
    }    
    .menu-top .main-menu{
        width: 100%;
        display: inline-block;
        background: rgba(0,99,209,.9);
    }
    .menu-top .main-menu li{
        width: 100%;
        display: block;
        border-bottom: 1px solid #2196F3; 
    }
    .sub-menu{
        width: 100%;
        display: inline-block !important;
        position: relative !important;
        top: 15px !important;
    }
    header ul>li>ul>li{
        background: rgba(0,99,209,.9);
        border-bottom: none !important;
        color:  #fff;
    }
    header .menu-top .main-menu ul li:hover .sub-menu {
        display:  block;
    }
    header ul>li>ul>li a{
        color: #fff;
    }
    header ul>li>ul>li a:before{
        content: "\f101";
        margin-right: 5px;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
}