*, p, ul, li, h1, h2, h3, h4, h5{
    margin: 0px;
    padding: 0px;
    list-style: none;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    color: #111;
    background-color: #ededed;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

header {
    background: #fff;
    position: relative;
    padding-bottom: 0;
    background-color: #ededed;
}

img {
    /* width:  35px; */
    height:  100%;
}

#myCarousel img {
    width:  100%;
    object-fit:  cover;
}

header .top-header {
    background:  #0063d1;
    color:  #fff;
}

header a {
    color:  #fff;
    position:  relative;
    display: block;
}

header .top-right>ul>li {
    display: inline-block !important;
    position:  relative;
    list-style:  none;
}

header .top-right.pull-right {
    position:  relative;
}

header .sub-account>li {
    padding:  5px;
    margin:  0 10px;
}

header a:hover {
    text-decoration:  none;
    color:  #fff;
}

header .btn:hover {
    color:  #fff;
}

header .dropdown-menu {
    background: #2196f3;
    border-radius:  0;
    border: none;
    position:  absolute;
    left: -60px;
}

header .dropdown-menu>a {
    padding: 2px 10px;
    line-height:  35px;
}

header .top-right>ul>li>a {
    padding: 6px 0px 6px 12px;
}

header .top-left>a {
    padding:  6px 12px;
}

header .center-header {
    background:  #0063d1;
    border-top: 1px solid rgba(255,255,255,.1);
    padding:  15px 0;
}

header .box-search select {
    height:  38px;
    float:  left;
    width:  30%;
    border:  none;
    background:  #ededed;
    padding:  6px 12px;
}

header .box-search input[type="text"] {
    float:  left;
    width:  50%;
    height:  38px;
    border:  none;
    padding:  6px 12px;
}

header .box-search button {
    border:  none;
    background: #2196F3;
    float:  left;
    width: 20%;
    padding:  6px 12px;
    height:  38px;
    color: #fff;
}

header .box-search {
    padding: 15px 0;
}

a.cart-top {
    text-align: left;
    background: url(../img/sprite.png) no-repeat;
    padding: 3px 0 0 62px;
    margin: 13px 20px;
    float:  right;
}

header .menu-top {
    background: #2196F3;
    display:  inline-block;
    width: 100%;
}

header .menu-top .main-menu ul li {
    display: inline-block;
    padding: 15px 20px;
    float: left;
    position:  relative;
}

header .menu-top .main-menu ul li a {
    text-transform: uppercase;
}

header .menu-top .main-menu ul li.active-menu {
    background: #0063d1;
}

header .menu-top .main-menu ul li:hover {
    background: #0063d1;
}

header .sub-menu {
    display:  none;
    position:  absolute;
    z-index:  1;
    top: 50px;
    left:  0;
    border-top: 1px solid #0063d1;
    min-width: 150px;
    transition: all .3s;
}

header .menu-top .main-menu ul li:hover .sub-menu {
    display:  inline-block;
}

header ul>li>ul>li {
    width: 100%;
    background: #fff;
}

header ul>li>ul>li a {
    color:  #000;
}

header .main-menu {
    position:  relative;
}

.content {background:  #ededed;margin-top: 15px;}

.content #active-menu-content>span>i.fa.fa-list {
    background: #ff9800;
    color:  #fff;
    padding: 10px;
    position:  absolute;
    font-size: 18px;
    top: -10px;
    left: -50px;
    width: 40px;
}

li#active-menu-content {
    padding: 9px 10px 9px 50px;
    background: #2196F3;
    display:  inline-block;
    position:  relative;
    width: 100%;
}

.content .box-category .top-content-menu span {
    background:  #2196F3;
    color:  #fff;
    width:  100%;
    position:  relative;
    text-transform:  uppercase;
    font-weight: bold;
    font-size: 14px;
}

.content .box-category ul li {
    padding: 10px 12px;
    border-bottom: 1px solid #e3e3e3;
    background:  #fff;
    position:  relative;
    border-left: 1px solid #e3e3e3;
}

.content .box-category ul li i {
    margin-right: 10px;
    text-align:  center;
    font-size:  15px;
    width:  20px;
}

.content a {
    color: #666;
}

#myCarousel a.right.carousel-control, a.left.carousel-control {
    background-image:  none;
}

#myCarousel a.right.carousel-control {
    background:  no-repeat;
}

#myCarousel a.right.carousel-control, a.left.carousel-control span {
    color:  #fff;
}

.sub-menu-content {
    opacity: 0;
    position:  absolute;
    left: 300px;
    top: 0px;
    height:  100%;
    width:  100%;
    z-index:  1;
    transition: all .3s;
}

.content .box-category ul li:hover .sub-menu-content {
    opacity: 1;
    position: absolute;
    left: 260px;
}

.content .box-category {
    position:  relative;
    width:  100%;
}

.content .product-item {
    float:  left;
    padding: 7px;
    width:  20%;
}

.content .item-img img {
    width:  100%;
}

.content .item-details {
    background:  #fff;
    text-align:  center;
    padding-bottom: 10px;
}

.content .detail-mask {
    position: absolute;
    opacity: 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding: 10px 0;}

.content .item-img {
    position: relative;
    display:  inline-block;
}

.content .detail-mask i {
    margin-right:  10px;
    padding:  10px;
    font-size:  16px;
    border:  1px solid #ededed;
}

.content button.buy-now {
    background: none;
    border: 1px solid #ededed;
    padding: 5px;
    text-align: center;
    color: #888;}

.content p.item-price {
    color: #f50728;
}

.content .product-item:hover .detail-mask {
    opacity:  1;
}

.content .product-item:hover .item-img {
    background:  #888;
}